In [39]:
import pandas as pd
import numpy as np

pd.set_option('display.max_columns', None)

In [40]:
df = pd.read_csv(r'C:\Users\Casal-Inked\OneDrive - sga.pucminas.br\Dataset\Google_Ads_Dataset.csv', sep=',')

In [41]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2600 entries, 0 to 2599
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Ad_ID            2600 non-null   object
 1   Campaign_Name    2600 non-null   object
 2   Clicks           2488 non-null   float64
 3   Impressions      2546 non-null   float64
 4   Cost             2503 non-null   object
 5   Leads            2552 non-null   float64
 6   Conversions      2526 non-null   float64
 7   Conversion Rate  1974 non-null   float64
 8   Sale_Amount      2461 non-null   object
 9   Ad_Date          2600 non-null   object
 10  Location         2600 non-null   object
 11  Device           2600 non-null   object
 12  Keyword          2600 non-null   object
dtypes: float64(5), object(8)
memory usage: 264.2+ KB

In [42]:
# print(df.loc[:'campaign_name'])
df['Campaign_Name'] = df['Campaign_Name'].astype('string')

df['Campaign_Name']

0       CyberSecurtyFundamentals
1             SQLDatabseTraining
2                    Python4D@ta
3               AI_Marketing1011
4            SQLDatabseTraining1
                  ...
2595        Machnelearningbasics
2596             AI_Mark3ting101
2597        Machn3LearningBasics
2598        DataScienceBootcamp1
2599        mACHNElEARNINGbASICS
Name: Campaign_Name, Length: 2600, dtype: string

In [43]:
substituicoes_campaign_name = {
    '@':'a',
    '0':'o',
    '_':'',
    '3':'e'
}

df['Campaign_Name'] = df['Campaign_Name'].replace(substituicoes_campaign_name, regex=True).str.lower().str.strip()

In [44]:
df['Campaign_Name'].unique()

<StringArray>
[ 'cybersecurtyfundamentals',        'sqldatabsetraining',
               'python4data',           'aimarketing1o11',
       'sqldatabsetraining1',            'aimarketing1o1',
      'machnelearningbasics',             'webdevmastery',
            'deeplearnngpro',       'cloudcomputngcourse',
       'datasciencebootcamp',           'deeplearnngpro1',
     'businessanlyticsclass',              'python4data1',
      'cloudcomputngcourse1',     'machnelearningbasics1',
      'datasciencebootcamp1',            'webdevmastery1',
    'businessanlyticsclass1', 'cybersecurtyfundamentals1']
Length: 20, dtype: string

In [45]:
df[['Cost', 'Sale_Amount']] = df[['Cost', 'Sale_Amount']].replace('[^0-9.]', '', regex=True).astype(float)

In [46]:
df[['Cost','Conversions','Leads', 'Conversion Rate']] = df[['Cost','Conversions','Leads', 'Conversion Rate']].fillna(0)

In [47]:
df['Leads'] = df['Leads'].astype(int)
df['Conversions'] = df['Conversions'].astype(int)
df['Ad_Date'] = pd.to_datetime(df['Ad_Date'], format = 'mixed', dayfirst=True)
df['Ad_Date']

0      2024-11-16
1      2024-11-20
2      2024-11-16
3      2024-11-26
4      2024-11-22
          ...
2595   2024-11-29
2596   2024-11-28
2597   2024-11-02
2598   2024-11-08
2599   2024-11-22
Name: Ad_Date, Length: 2600, dtype: datetime64[ns]

In [48]:
df['Location'] = df['Location'].str.lower().astype('string')
df['Device'] = df['Device'].str.lower().astype('string')

In [49]:
df

,Ad_ID,Campaign_Name,Clicks,Impressions,Cost,Leads,Conversions,Conversion Rate,Sale_Amount,Ad_Date,Location,Device,Keyword
0,A1000,cybersecurtyfundamentals,104.0,4498.0,231.88,14,7,0.058,1892.0,2024-11-16,poona,desktop,learn data analytics
1,A1001,sqldatabsetraining,173.0,5107.0,216.84,10,8,0.046,1679.0,2024-11-20,new delhi,mobile,data analytics course
2,A1002,python4data,90.0,4544.0,203.66,26,9,0.000,1624.0,2024-11-16,poona,desktop,data analitics online
3,A1003,aimarketing1o11,142.0,3185.0,237.66,17,6,0.000,1225.0,2024-11-26,bombay,tablet,data anaytics training
4,A1004,sqldatabsetraining1,156.0,3361.0,195.90,30,8,0.000,1091.0,2024-11-22,bombay,desktop,online data analytic
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2595,A3595,machnelearningbasics,88.0,5344.0,242.07,17,9,0.054,1418.0,2024-11-29,mumabi,mobile,online data analytic
2596,A3596,aimarketing1o1,154.0,3211.0,248.28,14,6,0.039,1950.0,2024-11-28,bengluru,tablet,data analitics online
2597,A3597,machnelearningbasics,113.0,3808.0,233.25,18,4,0.035,1085.0,2024-11-02,bombay,desktop,data anaytics training
2598,A3598,datasciencebootcamp1,196.0,5853.0,220.13,16,7,0.036,1558.0,2024-11-08,bengluru,tablet,data anaytics training
2599,A3599,machnelearningbasics,NaN,5453.0,0.00,12,5,0.000,1174.0,2024-11-22,dheli,desktop,analytics for data