In [1]:
import pandas as pd

1. EDA
    *   .sample(), .info(), .describe(), .duplicated()

In [3]:
imput = 'C:/Users/Casal-Inked/OneDrive - sga.pucminas.br/Dataset/test_group.csv'
output = 'C:/Users/Casal-Inked/OneDrive - sga.pucminas.br/Dataset/test_group.parquet'

df = pd.read_csv(imput, sep=';')
df.head(5)

,Campaign Name,Date,Spend [USD],# of Impressions,Reach,# of Website Clicks,# of Searches,# of View Content,# of Add to Cart,# of Purchase
0,Test Campaign,1.08.2019,3008,39550,35820,3038,1946,1069,894,255
1,Test Campaign,2.08.2019,2542,100719,91236,4657,2359,1548,879,677
2,Test Campaign,3.08.2019,2365,70263,45198,7885,2572,2367,1268,578
3,Test Campaign,4.08.2019,2710,78451,25937,4216,2216,1437,566,340
4,Test Campaign,5.08.2019,2297,114295,95138,5863,2106,858,956,768

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Campaign Name        30 non-null     object
 1   Date                 30 non-null     object
 2   Spend [USD]          30 non-null     int64
 3   # of Impressions     30 non-null     int64
 4   Reach                30 non-null     int64
 5   # of Website Clicks  30 non-null     int64
 6   # of Searches        30 non-null     int64
 7   # of View Content    30 non-null     int64
 8   # of Add to Cart     30 non-null     int64
 9   # of Purchase        30 non-null     int64
dtypes: int64(8), object(2)
memory usage: 2.5+ KB

In [6]:
df.describe()

,Spend [USD],# of Impressions,Reach,# of Website Clicks,# of Searches,# of View Content,# of Add to Cart,# of Purchase
count,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000
mean,2563.066667,74584.800000,53491.566667,6032.333333,2418.966667,1858.000000,881.533333,521.233333
std,348.687681,32121.377422,28795.775752,1708.567263,388.742312,597.654669,347.584248,211.047745
min,1968.000000,22521.000000,10598.000000,3038.000000,1854.000000,858.000000,278.000000,238.000000
25%,2324.500000,47541.250000,31516.250000,4407.000000,2043.000000,1320.000000,582.500000,298.000000
50%,2584.000000,68853.500000,44219.500000,6242.500000,2395.500000,1881.000000,974.000000,500.000000
75%,2836.250000,99500.000000,78778.750000,7604.750000,2801.250000,2412.000000,1148.500000,701.000000
max,3112.000000,133771.000000,109834.000000,8264.000000,2978.000000,2801.000000,1391.000000,890.000000

In [7]:
df.duplicated().sum()

np.int64(0)

2. Polimento
    *   Padronização, tratamento, tipo de dados

In [9]:
# Alterando o tipo de dado da coluna 'Date' para datetime
df['Date'] = pd.to_datetime(df['Date'], format = "mixed", dayfirst=True)
df.head(5)

,Campaign Name,Date,Spend [USD],# of Impressions,Reach,# of Website Clicks,# of Searches,# of View Content,# of Add to Cart,# of Purchase
0,Test Campaign,2019-08-01,3008,39550,35820,3038,1946,1069,894,255
1,Test Campaign,2019-08-02,2542,100719,91236,4657,2359,1548,879,677
2,Test Campaign,2019-08-03,2365,70263,45198,7885,2572,2367,1268,578
3,Test Campaign,2019-08-04,2710,78451,25937,4216,2216,1437,566,340
4,Test Campaign,2019-08-05,2297,114295,95138,5863,2106,858,956,768

In [10]:
# Renomeando Colunas
df.rename(columns={'Campaign Name': 'campaign_name'}, inplace=True)
df.rename(columns={'Spend [USD]': 'spend'}, inplace=True)
df.rename(columns={'# of Impressions': 'impressions'}, inplace=True)
df.rename(columns={'Reach': 'reach'}, inplace=True)
df.rename(columns={'# of Website Clicks': 'clicks'}, inplace=True)
df.rename(columns={'# of Searches': 'searches'}, inplace=True)
df.rename(columns={'# of View Content': 'content'}, inplace=True)
df.rename(columns={'# of Add to Cart': 'add_cart'}, inplace=True)
df.rename(columns={'# of Purchase': 'purchase'}, inplace=True)
df.head(5)

,campaign_name,Date,spend,impressions,reach,clicks,searches,content,add_cart,purchase
0,Test Campaign,2019-08-01,3008,39550,35820,3038,1946,1069,894,255
1,Test Campaign,2019-08-02,2542,100719,91236,4657,2359,1548,879,677
2,Test Campaign,2019-08-03,2365,70263,45198,7885,2572,2367,1268,578
3,Test Campaign,2019-08-04,2710,78451,25937,4216,2216,1437,566,340
4,Test Campaign,2019-08-05,2297,114295,95138,5863,2106,858,956,768

In [17]:
# Tratar linhas preenchendo valores vazios
df['spend'] = df['impressions'].fillna(0).astype(float)
df['impressions'] = df['impressions'].fillna(0).astype(float)
df['reach'] = df['reach'].fillna(0).astype(float)
df['clicks'] = df['clicks'].fillna(0).astype(float)
df['searches'] = df['searches'].fillna(0).astype(float)
df['content'] = df['content'].fillna(0).astype(float)
df['add_cart'] = df['add_cart'].fillna(0).astype(float)
df['purchase'] = df['purchase'].fillna(0).astype(float)

In [18]:
# Padronização - deixar todos os nomes de campanhas em letras minúsculas
df['campaign_name'] = df['campaign_name'].str.lower()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   campaign_name  30 non-null     object
 1   Date           30 non-null     datetime64[ns]
 2   spend          30 non-null     int64
 3   impressions    30 non-null     float64
 4   reach          30 non-null     float64
 5   clicks         30 non-null     float64
 6   searches       30 non-null     float64
 7   content        30 non-null     float64
 8   add_cart       30 non-null     float64
 9   purchase       30 non-null     float64
dtypes: datetime64[ns](1), float64(7), int64(1), object(1)
memory usage: 2.5+ KB

3. Exportar

In [13]:
df.to_parquet(output, index=False)