In [1]:
import pandas as pd
import numpy as np

pd.set_option('display.max_columns', None)

In [2]:
df = pd.read_csv(r'C:\Users\Casal-Inked\OneDrive - sga.pucminas.br\Dataset\Google_Ads_Dataset.csv', sep=',')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2600 entries, 0 to 2599
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Ad_ID            2600 non-null   object
 1   Campaign_Name    2600 non-null   object
 2   Clicks           2488 non-null   float64
 3   Impressions      2546 non-null   float64
 4   Cost             2503 non-null   object
 5   Leads            2552 non-null   float64
 6   Conversions      2526 non-null   float64
 7   Conversion Rate  1974 non-null   float64
 8   Sale_Amount      2461 non-null   object
 9   Ad_Date          2600 non-null   object
 10  Location         2600 non-null   object
 11  Device           2600 non-null   object
 12  Keyword          2600 non-null   object
dtypes: float64(5), object(8)
memory usage: 264.2+ KB

In [4]:
df.describe()

            Clicks  Impressions        Leads  Conversions  Conversion Rate
count  2488.000000  2546.000000  2552.000000  2526.000000      1974.000000
mean    138.956994  4523.280833    20.003918     6.519002         0.048979
std      34.619376   869.927913     6.032317     2.272573         0.019987
min      80.000000  3000.000000    10.000000     3.000000         0.015000
25%     110.000000  3764.000000    15.000000     5.000000         0.035000
50%     139.000000  4518.500000    20.000000     7.000000         0.046000
75%     169.000000  5279.500000    25.000000     9.000000         0.058000
max     199.000000  5999.000000    30.000000    10.000000         0.123000

In [5]:
# print(df.loc[:'campaign_name'])
df['Campaign_Name'] = df['Campaign_Name'].astype('string')

df['Campaign_Name']

0       CyberSecurtyFundamentals
1             SQLDatabseTraining
2                    Python4D@ta
3               AI_Marketing1011
4            SQLDatabseTraining1
                  ...
2595        Machnelearningbasics
2596             AI_Mark3ting101
2597        Machn3LearningBasics
2598        DataScienceBootcamp1
2599        mACHNElEARNINGbASICS
Name: Campaign_Name, Length: 2600, dtype: string

In [6]:
substituicoes_campaign_name = {
    '@':'a',
    '0':'o',
    '_':'',
    '3':'e'
}

df['Campaign_Name'] = df['Campaign_Name'].replace(substituicoes_campaign_name, regex=True).str.lower().str.strip()

In [7]:
df['Campaign_Name'].unique()

<StringArray>
[ 'cybersecurtyfundamentals',        'sqldatabsetraining',
               'python4data',           'aimarketing1o11',
       'sqldatabsetraining1',            'aimarketing1o1',
      'machnelearningbasics',             'webdevmastery',
            'deeplearnngpro',       'cloudcomputngcourse',
       'datasciencebootcamp',           'deeplearnngpro1',
     'businessanlyticsclass',              'python4data1',
      'cloudcomputngcourse1',     'machnelearningbasics1',
      'datasciencebootcamp1',            'webdevmastery1',
    'businessanlyticsclass1', 'cybersecurtyfundamentals1']
Length: 20, dtype: string

In [8]:
df[['Cost', 'Sale_Amount']] = df[['Cost', 'Sale_Amount']].replace('[^0-9.]', '', regex=True).astype(float)

In [9]:
df[['Cost','Conversions','Leads', 'Conversion Rate']] = df[['Cost','Conversions','Leads', 'Conversion Rate']].fillna(0)

In [10]:
df['Leads'] = df['Leads'].astype(int)
df['Conversions'] = df['Conversions'].astype(int)
df['Ad_Date'] = pd.to_datetime(df['Ad_Date'], format = 'mixed', dayfirst=True)
df['Ad_Date']

0      2024-11-16
1      2024-11-20
2      2024-11-16
3      2024-11-26
4      2024-11-22
          ...
2595   2024-11-29
2596   2024-11-28
2597   2024-11-02
2598   2024-11-08
2599   2024-11-22
Name: Ad_Date, Length: 2600, dtype: datetime64[ns]

In [11]:
df['Location'] = df['Location'].str.lower().astype('string')
df['Device'] = df['Device'].str.lower().astype('string')

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2600 entries, 0 to 2599
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Ad_ID            2600 non-null   object
 1   Campaign_Name    2600 non-null   string
 2   Clicks           2488 non-null   float64
 3   Impressions      2546 non-null   float64
 4   Cost             2600 non-null   float64
 5   Leads            2600 non-null   int64
 6   Conversions      2600 non-null   int64
 7   Conversion Rate  2600 non-null   float64
 8   Sale_Amount      2461 non-null   float64
 9   Ad_Date          2600 non-null   datetime64[ns]
 10  Location         2600 non-null   string
 11  Device           2600 non-null   string
 12  Keyword          2600 non-null   object
dtypes: datetime64[ns](1), float64(5), int64(2), object(2), string(3)
memory usage: 264.2+ KB